<h1>junk kure</h1>


破滅*ラウンジでは、以下の人からのジャンクを受け取ることができます。
<ul>
  <li>以下のいずれかの受け渡し方法が可能な人：
    <ul>
        <li>5/3に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで自力で持ってこれる人</li>
        <li>5/3に〒150-0002 渋谷区渋谷2-17-3渋谷アイビスビルB1Fに着くように元払いで発送できる人</li>
        <li>5/3に赤帽で回収可能な都内近郊在住の人(住所、電話番号を配送メンバーに教えてもいい人)</li>
        <li>5/8～5/16の開催期間中に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで自力で持ってこれる人</li>
    </ul>
  </li>
  <li>開催期間中、もしくは開催最終日の5/16に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで自力で取りに来れる人のみ返却可能です</li>
  <li>取りにこれない場合は、開催後、リサイクル業者へ依頼し廃棄してもいいという人</li>
</ul>


基本的におおきなタワー型デスクトップマシンを探しています。<br />
以上に当てはまる方は、Twitterアカウントでサインインしてジャンク情報の登録をお願いします。<br />



<% if current_user %>
  <%= link_to image_tag(current_user.profile_image_url, :title => h(current_user.name), :size => "24x24"), "/#{current_user.login}" %>
  <%=h current_user.login %>としてログイン中
<% else %>
  <a href="/session/new">
    <img src="http://apiwiki.twitter.com/f/1242697715/Sign-in-with-Twitter-darker.png"
         title="sign in with twitter" alt="sign in with twitter"/>
  </a>
<% end %>
<hr />

ジャンク提供ユーザー<br />

<% @users.each do |user| %>
  <%= link_to image_tag(user.profile_image_url, :title => h(user.name), :size => "24x24"), "/#{user.login}" %>
  <%= user.login %>
<% end %>

